code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #34c94b; /* QTify Accent Green */
  --color-black: #121212;   /* App Base Background */
  --color-white: #ffffff;   /* Primary Typography */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}